---
import Terms from "../../layouts/Terms.astro";
import BackToTop from "../../components/BackToTop.astro";
import LinkH2 from "../../components/LinkH2.astro";
import LinkH3 from "../../components/LinkH3.astro";
import LinkItem from "../../components/LinkItem.astro";
import InlineLink from "../../components/InlineLink.astro";
---

<!-- Design Terms of Service -->
<Terms
  pageTitle="Design Terms of Service"
  pageUrl="/terms/design"
  header="My Design Terms of Service"
  pageDescription="These Terms of Service govern your use of **Draaaft**, a graphics design brand created by **Mugisa Brian, codenamed (“Cephas” or “Xephas” “he,” “his”)**. They apply to all design work undertaken by or commissioned through Cephas, as provided under the **Draaaft Artworks** Brand. By engaging with Xephas for design services, you agree to these terms. If you do not agree, you may not access or use his services."
>
  <article>
    <p class="text-center"><em>Effective Date: February 16, 2024,</em></p>

    <LinkH2 text="Intro" , id="intro" />

    <p>
      These Terms of Service govern your use of <strong>Draaaft</strong>, a
      graphics design brand created by <strong
        >Mugisa Brian, codenamed (“Cephas” or “Xephas” “he,” “his”)</strong
      >. They apply to all design work undertaken by or commissioned through
      Cephas, as provided under the <strong>Draaaft Artworks</strong> Brand. By engaging
      with Xephas for design services, you agree to these terms. If you do not agree,
      you may not access or use his services.
    </p>

    <LinkH2 id="what" , text="What's Covered in These Terms" />

    <p>
      Before starting your creative journey with <strong
        >Draaaft Artworks</strong
      >, we encourage you to take a moment to understand these <strong
        >Terms of Service</strong
      >
      (the “Terms,” “Contact,” or “Agreement” ). <strong
        >We understand that reviewing Terms of Service can be tedious, but it's
        crucial for establishing clear expectations between you and Draaaft
        Artworks</strong
      > (“Draaaft,” “Draaaft Artworks,” “we,” “us,“ or “our”) regarding your (“Client,”
      “Business,” “Customer,” “Individual,” “Organisation”) use of our services.
    </p>
    <p class="mt-4">
      These Terms reflect how <strong>Draaaft Artworks</strong> operates, our business
      practices, intellectual property rights, applicable legal regulations, and
      the fundamental beliefs or principles we uphold. In addition, the Terms outline
      what you can expect from us as you utilise our design services, and what we
      expect from you in return, your legal rights and the governing law during the
      process for settling disputes in case someone violates these terms, with jurisdiction
      in Uganda and also provides information on how to contact Draaaft for dispute
      resolution.
    </p>
    <p class="mt-4">
      Therefore, <strong
        >the Terms define the framework for our relationship as you engage with
        Draaaft's services and are not intended to restrict your legal rights</strong
      >. However, understanding these terms is vital because by accessing or
      using our services, you agree to be bound by these Terms. If you do not
      agree to these Terms, you may not access or use our services.
    </p>
    <LinkH2 id="topics-aspects" , text="Topics & Aspects Covered" />
    <!-- links -->
    <div>
      <LinkItem href="#1-services" , text="Draaaft Services" />
      <LinkItem
        href="#1-1-third-parties"
        ,
        number="a) "
        ,
        text="Third-Party Services and Providers"
      />
      <LinkItem
        href="#2-design-project-process"
        ,
        text="Design Project Process"
      />
      <LinkItem href="#3-fees-and-payment" , text="Fees and Payment" />
      <LinkItem
        href="#4-design-ownership-intellectual-property-and-usage"
        ,
        text="Design Ownership, Intellectual Property, and Usage"
      />
      <LinkItem
        href="#5-inclusivity-equality-and-respect"
        ,
        text="Inclusivity, Equality, and Respect"
      />
      <LinkItem
        href="#6-warranties-and-disclaimers"
        ,
        text="Warranties and Disclaimers"
      />
      <LinkItem
        href="#7-limitation-of-liability"
        ,
        text="Limitation of Liability"
      />
      <LinkItem href="#8-entire-agreement" , text="Entire Agreement" />
      <LinkItem href="#9-termination" , text="Termination" />
      <LinkItem
        href="#10-governing-law-and-dispute-resolution"
        ,
        text="Governing Law and Dispute Resolution"
      />
      <LinkItem href="#11-changes-to-terms" , text="Changes to Terms" />
      <LinkItem href="#12-contact-us" , text="Contact Us" />
    </div>
    <LinkH3 id="privacy-policy" , text="Privacy Policy" />
    <p>
      While not part of these terms, we encourage you to read our Privacy Policy
      for detailed information about managing, updating, exporting, and deleting
      your data.
    </p>
    <LinkH3 id="service-provider" , text="Service Provider" />
    <p>
      <strong>Draaaft Artworks</strong> and your contractual partner are the providers
      of these <InlineLink href="#1-services" , text="services" />. Therefore,
      you enter into this agreement with:
    </p>
    <div class="ml-4 mt-2">
      <li>
        <strong>Service Provider:</strong>
        <InlineLink target="_blank", href="https://draaaft.web.app" , text="Draaaft Artworks" />
      </li>

      <li>
        <strong>Remote Location:</strong> 1 Apta Way, Uganda
      </li>

      <li>
        <strong>Website:</strong>
        <InlineLink target="_blank", href="https://draaaft.web.app" , text="draaaft.web.app" />
      </li>
      <li>
        <strong>Jurisdiction:</strong> Laws of Uganda
      </li>
      <li class="mt-4">
        <strong>Co-Founder:</strong>
        <InlineLink
          href="https://about.xephas.me"
          ,
          text=" Cephas (Brian Mugisa)"
        />
      </li>
      <li>
        <strong>About:</strong>
        <InlineLink href="https://about.xephas.me" , text="about.xephas.me" />
      </li>

      <li>
        <strong>Email:</strong>
        <InlineLink href="mailto:hello@xephas.me" , text="hello@xephas.me" />
      </li>
    </div>
    <!-- Age -->
    <LinkH3 id="age-requirements" , text="Age Requirements" />

    <li>
      <strong>Minimum Age:</strong> 18 years
    </li>
    <li>
      <strong>Parental Consent:</strong> Required for users under 18 years
    </li>

    <!-- description -->
    <div class="space-y-4 mt-2">
      <p>
        If you're under the legal age to manage your account, you require
        parental or legal guardian permission to use <strong
          >Draaaft Artworks</strong
        >. Please have your parent or guardian review these terms with you.
      </p>
      <p>
        As a parent or legal guardian granting permission for your child's use
        of our services, these terms apply to you, and you are responsible for
        their activity within our platform.
      </p>
      <p>
        Certain Draaaft services might have additional age requirements outlined
        in their specific terms and policies.
      </p>
    </div>

    <!-- Terms of service start her -->
    <LinkH2 id="terms-of-service-" , text="Terms of Service" />
    <!-- Services -->
    <LinkH2 id="1-services" , text="1. Services" />
    <p>Draaaft offers a variety of graphic design services, including:</p>
    <div class="ml-4 mt-2 mb-2">
      <li>Logo design</li>
      <li>Website design</li>
      <li>Branding materials</li>
      <li>Marketing materials</li>
      <li>Illustration</li>
      <li>Typography</li>
      <li>Print Design</li>
      <li>Social Media Graphics</li>
      <li>And other related services</li>
    </div>
    <p>
      Any of these services are also referred to as a <strong
        >“project”, or “design”</strong
      > in the preceding sections of these Terms. The specific services offered and
      their associated fees are subject to change. We also reserve the right to modify
      or discontinue any of our services at any time with or without notice.
    </p>

    <!-- Third Parties -->
    <LinkH3
      id="1-1-third-parties"
      ,
      text="a) Third-Party Services and Providers"
    />
    <p>
      <div class="space-y-4 mt-2">
        <p>
          Draaaft Artworks offers a variety of design services. While we strive
          to manage all aspects of your project in-house, we may utilize vetted
          and trusted third-party providers for any of the above specific and
          specialized <InlineLink href="#1-services" , text="tasks" /> as necessary
          to deliver your project efficiently on time and as required.
        </p>

        <p>
          When engaging such providers, we will prioritize their expertise,
          reliability, and commitment to data security. We will ensure that any
          third-party providers are bound by confidentiality agreements and
          follow data privacy practices consistent with ours. This approach
          allows us to access a wider range of expertise and ensure top-quality
          results across diverse project requirements. You will be kept informed
          of any such collaborations and have the opportunity to voice any
          concerns before work commences.
        </p>
        <p>
          By accepting these Terms of Service, you acknowledge and agree to the
          potential involvement of third-party service providers in your
          project.
        </p>
      </div>

      <!-- Process -->
      <LinkH2
        id="2-design-project-process"
        ,
        text="2. Design Project Process"
      />
      <LinkH3
        bullet="a) "
        id="initial-consultation-and-initiation"
        ,
        text="Initial Consultation and Initiation"
      />
      <p>
        We will have a consultation to understand and discuss your project
        needs, goals, timeline, and budget. You will provide a detailed brief
        outlining your project requirements and goals.
      </p>
      <LinkH3
        bullet="b) "
        id="proposal-and-estimate"
        ,
        text="Proposal and Estimate"
      />
      <p>
        Draaaft will then send or provide you with a proposal outlining the
        scope of work, timeline, and fees.
      </p>
      <LinkH3
        bullet="c) "
        id="agreement-and-payment"
        ,
        text="Agreement and Payment"
      />
      <p>
        Upon your approval and acceptance of the proposal, we will enter into a
        formal contract outlining the agreed-upon terms and you will be required
        to pay a deposit (the “Deposit”) to secure your project slot. The
        Deposit is non-refundable if the project is terminated due to your
        breach of these Terms.
      </p>
      <LinkH3
        bullet="d) "
        id="design-revisions-and-feedback"
        ,
        text="Design, Revisions, and Feedback"
      />
      <p>
        Draaaft will work collaboratively with you on your project and provide
        you with opportunities for feedback and revisions. Additional revisions
        may be subject to additional fees. We reserve the right to refuse
        revisions that are unreasonable or outside the scope of the project.
      </p>
      <LinkH3 bullet="e) " id="final-delivery" , text="Final Delivery" />
      <p>
        Once you approve the final design, Draaaft will deliver the completed
        files and assets in the agreed-upon format upon full payment of all
        outstanding fees.
      </p>

      <!-- Fees -->
      <LinkH2 id="3-fees-and-payment" , text="3. Fees and Payment" />
      <p>
        Our fees are based on the scope of the project, including the
        complexity, timeline, and deliverables. We require a Deposit before
        starting any project, with the remaining balance due before delivery of
        the final design. We accept payment via bank transfer or mobile money,
        as specified in the proposal. Additional standard charges and taxes may
        apply during the transaction, which will be detailed in the proposal.
        Draaaft reserves the right to modify its fees at any time. However, any
        changes to fees will not apply to projects already in progress.
      </p>

      <!-- Design Ownership -->
      <LinkH2
        id="4-design-ownership-intellectual-property-and-usage"
        ,
        text="4. Design Ownership, Intellectual Property, and Usage"
      />
      <LinkH3 bullet="a) " id="ownership" , text="Ownership" />
      <p>
        All original artwork and designs created by Draaaft for your project are
        the exclusive intellectual property of Draaaft, and we retain all
        ownership rights to the original design concepts and files created for
        your project unless otherwise agreed upon in writing or email.
      </p>
      <LinkH3 bullet="b) " id="license" , text="License" />
      <p>
        Upon full payment of all outstanding fees, you will receive a
        non-exclusive, royalty-free license to use the final designs for your
        intended purposes.
      </p>
      <LinkH3
        bullet="c) "
        id="modification-rights"
        ,
        text="Modification Rights"
      />
      <p>
        You may not modify, resell, or distribute the designs without our
        written permission and consent.
      </p>
      <LinkH3
        bullet="d) "
        id="retention-of-usage-rights"
        ,
        text="Retention of Usage Rights"
      />
      <p>
        We reserve the right to use portions of the design for portfolio
        showcases, social media posts, marketing materials, or other promotional
        purposes unless explicitly agreed upon otherwise in the contract.
      </p>
      <LinkH3
        bullet="e) "
        id="client-information-usage"
        ,
        text="Client Information Usage"
      />
      <p>
        We reserve the right to use the details you provide during the ordering
        process and design stage for creative purposes related to your project
        only.
      </p>
      <LinkH3 bullet="f) " id="confidentiality" , text="Confidentiality" />
      <p>
        Draaaft will always treat all information you provide as confidential,
        and we will not share your information with third parties without your
        written consent. You also agree not to disclose any confidential
        information about Draaaft or its services. Non-disclosure agreements
        (NDAs) are available upon request.
      </p>

      <!-- Inclusivity -->
      <LinkH2
        id="5-inclusivity-equality-and-respect"
        ,
        text="5. Inclusivity, Equality, and Respect"
      />
      <LinkH3
        bullet="a) "
        id="non-partisan-policy"
        ,
        text="Non-Partisan Policy"
      />
      <p>
        <strong>Draaaft Artworks</strong> operates with a core principle of non-partisanship.
        We do not favor, promote, endorse, or align ourselves with any specific political
        party, ideology, or social group. We believe in treating everyone equally
        and value inclusivity in all our interactions. As your design partner, we
        approach every project with an open mind and a commitment to creating designs
        that resonate with diverse audiences and uphold ethical standards.
      </p>
      <LinkH3
        bullet="b) "
        id="inclusive-design-practices"
        ,
        text="Inclusive Design Practices"
      />
      <p>
        We promote inclusivity and accessibility in our design projects,
        striving to cater to diverse audiences and perspectives.
      </p>
      <LinkH3
        bullet="c) "
        id="respectful-communication"
        ,
        text="Respectful Communication"
      />
      <p>
        We encourage respectful and professional communication throughout the
        design process. We expect clients to treat our team with courtesy and
        avoid discriminatory or offensive language or behavior.
      </p>
      <p class="mt-4">
        By choosing Draaaft, you are partnering with a design team that believes
        in the power of creativity to connect and elevate, regardless of
        political affiliation, social background, or personal beliefs, and you
        agree to uphold our commitment to inclusivity, equality, and respect.
      </p>

      <!-- Warranties -->
      <LinkH2
        id="6-warranties-and-disclaimers"
        ,
        text="6. Warranties and Disclaimers"
      />
      <p>
        We provide our services on an <strong>“as is”</strong> and <strong
        ></strong>“as available”
      </p> basis. We make no warranties, express or implied, regarding the quality,
      accuracy, completeness, performance, or outcome of our services. We are not
      responsible for any errors or omissions in the project materials or any damages
      arising from the use of our services.
    </p>

    <!-- Limitations -->
    <LinkH2
      id="7-limitation-of-liability"
      ,
      text="7. Limitation of Liability"
    />
    <p>
      Our liability to you for any damages arising out of or related to these
      Terms or from the use or inability to use our Services is limited to the
      amount of fees paid by you for the project. We are not liable for any
      indirect, incidental, consequential, or punitive damages.
    </p>

    <!-- Entire Agreement -->
    <LinkH2 id="8-entire-agreement" , text="8. Entire Agreement" />
    <p>
      These Terms constitute the entire agreement between you and Draaaft
      regarding the subject matter hereof and supersede all prior or
      contemporaneous communications, representations, or agreements, whether
      oral or written.
    </p>

    <!-- Termination -->
    <LinkH2 id="9-termination" , text="9. Termination" />
    <!-- u -->
    <LinkH3 bullet="a) " id="by-you" , text="By You:" />
    <p>
      You may terminate this contract agreement for any reason, at any time
      before the delivery of the final design by providing written notice to us.
      In such case, you will not be entitled to a refund of any unused portion
      of the Deposit as it is non-refundable. You may also terminate these Terms
      by ceasing to use our services.
    </p>
    <!-- us -->
    <LinkH3 bullet="b) " id="by-us" , text="By Us:" />
    <p>
      We may terminate this contract agreement or your access to our services at
      any time for any reason, with or without notice. Some of the reasons for
      our termination may include (but are not limited to):
    </p>
    <div class="ml-4 mt-2">
      <li>
        Failure to pay the Deposit or any other outstanding fees within the
        stipulated timeframe.
      </li>
      <li>
        Providing inaccurate or misleading information during the ordering
        process.
      </li>
      <li>
        Engaging in conduct that is abusive, disrespectful, or harassing towards
        our team.
      </li>
      <li>Breach of any other provision of these Terms.</li>
    </div>

    <!-- Governing Law -->
    <LinkH2
      id="10-governing-law-and-dispute-resolution"
      ,
      text="10. Governing Law and Dispute Resolution"
    />
    <p>
      These Terms shall be governed by and construed following the laws of
      Uganda without regard to its conflict of laws provisions. Any dispute
      arising out of or relating to these Terms shall be subject to and will be
      settled by binding arbitration and the exclusive jurisdiction of the
      courts of Uganda.
    </p>

    <!-- Changes to Terms -->
    <LinkH2 id="11-changes-to-terms" , text="11. Changes to Terms" />
    <div class="space-y-4">
      <p>
        <strong>Draaaft Artworks</strong> reserves the right to modify or replace
        these Terms of Service at any time by posting the revised Terms on its website.
        You will be notified of any changes and continued use of the Service after
        such modifications constitute acceptance of the new terms. Your continued
        use of Draaaft's services after such changes will constitute your acceptance
        of the revised Terms.
      </p>
      <p>
        By engaging with Draaaft, you acknowledge that you have read,
        understood, and agreed to these Terms of Service.
      </p>
    </div>

    <!-- Contact Us -->
    <LinkH2 id="12-contact-us" , text="12. Contact Us" />
    <p>
      If you have any questions about these Terms, please contact us at
      <InlineLink href="mailto:inquiry@xephas.me" text="inquiry@xephas.me" />
    </p>

    <!-- Back to Top -->
    <BackToTop />
  </article>
</Terms>
