---
import Terms from "../../layouts/Terms.astro";
---

<!-- Terms of Service -->
<Terms
  pageTitle="Terms of Service"
  pageUrl="/terms"
  header="My Terms of Service"
  pageDescription="My comprehensive services, governed by these user-friendly Terms of Service, promise unparalleled quality in every project. Engage with me for cutting-edge software and design solutions tailored to your needs."
>
  <article>
    <p>
      These Terms of Service regulate your utilization of software engineering
      and graphics design services by <span class="font-bold"
        >me, Mugisa Brian,</span
      > known by codenames such as<span class="font-bold"> "Cephas"</span> or<span
        class="font-bold"
      >
        "Xephas"</span
      > or<span class="font-bold"> "X3PH★S"</span> as a representation of my brand's
      commitment to excellence and innovation.
    </p>
    <br />
    <p>
      They cover a broad spectrum of services provided under my umbrella and are
      applicable to all
      <a href="/terms/software" class=`underline text-blue-600 hover:text-xephas-navy font-bold`
        >Software Development ➛</a
      > and
      <a href="/terms/design" class=`underline text-blue-600 hover:text-xephas-navy font-bold`>
        Graphics & UX Design ➛</a
      > endeavors initiated by or contracted through me. By engaging with me for
      any software or design services, you expressly agree to abide by these terms.
    </p>
    <br />
    <p>
      If you do not consent to these terms, kindly refrain from accessing or
      utilizing my services.
    </p>
  </article>
</Terms>
