---
import Terms from "../../layouts/Terms.astro";
---

<!-- Software Terms of Service -->
<Terms
  pageTitle="Software Engineering Terms of Service"
  pageUrl="/terms/software"
  header="My Software Engineering Terms of Service"
  pageDescription="Terms of Service for Software Engineering Services provided by Mugisa Brian (Cephas) to clients."
>
<article class="prose max-w-full">
  <p class="text-3xl m-10 text-center">Coming soon... now</p>
  <p>
    Meanwhile, you can check out my <a href="/terms" class=`underline text-blue-600 hover:text-xephas-navy font-bold`
    >General Terms of Service ➛</a
    >
    or <a href="/contact" class=`underline text-blue-600 hover:text-xephas-navy font-bold`
    >Contact Me ➛</a> for more information.
  </p>
</article>
</Terms>
