---
import Portfolio from "../layouts/Portfolio.astro";
---

<!-- Contact -->
<Portfolio
  pageTitle="Contact me!"
  pageUrl="/contact"
  header="Contact"
  pageDescription="Ping me if you want to work together or just say hi!"
>
  <p>Say hello@xephas.me</p>
</Portfolio>
