---
import Portfolio from "../layouts/Portfolio.astro";
---

<!-- CV Page -->
<Portfolio
  pageTitle="My CV"
  pageUrl="/cv"
  header="Xephas' CV"
  pageDescription="Everything you need to know about Xephas."
>
  <p>Coming Soon | Say hello@xephas.me</p>
</Portfolio>
