---
import Portfolio from "../layouts/Portfolio.astro";
import { cvFileName} from "../scripts/constants.js";
import InlineLink from "../components/InlineLink.astro";
---

<!-- Contact -->
<Portfolio
  pageTitle="CV | Resume"
  pageUrl="/cv"
  header="Want to work together? Here is My Official CV/Resume"
  pageDescription="Official CV/Resume of Mugisa Brian (Cephas), a Software Engineer with over 4 years of ultimate experience in Cross-Platform App Development with Flutter and an astounding passion for Graphics & UI/UX Design. He is always looking for new opportunities to work on exciting projects. Feel free to reach out to him if you have any questions or would like to work together."
>
  <div class="flex flex-wrap gap-8 items-center justify-center m-8">
    <a
      href="docs/MUGISA BRIAN (CEPHAS) - CV as of 11th June 2024.pdf"
      target="_blank"
      class="px-4 inline-flex flex-row items-center py-2 text-xs font-extrabold text-center uppercase border rounded-md bg-xephas-blue text-xephas-white hover:cursor-pointer"
    >
      Open CV in Browser

      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 -960 960 960"
        class="fill-current ml-2"
        width="24"
      >
        <path
          d="M480-840q74 0 139.5 28.5T734-734q49 49 77.5 114.5T840-480q0 74-28.5 139.5T734-226q-49 49-114.5 77.5T480-120q-41 0-79-9t-76-26l61-61q23 8 46.5 12t47.5 4q116 0 198-82t82-198q0-116-82-198t-198-82q-116 0-198 82t-82 198q0 24 4 47.5t12 46.5l-60 60q-18-36-27-74.5t-9-79.5q0-74 28.5-139.5T226-734q49-49 114.5-77.5T480-840Zm40 520v-144L176-120l-56-56 344-344H320v-80h280v280h-80Z"
        ></path>
      </svg>
    </a>

    <a
    href=`docs/${cvFileName}`
    download={cvFileName}
      type="application/pdf"
      target="_blank"
      class="px-4 inline-flex flex-row items-center py-2 text-xs font-extrabold text-center uppercase rounded-md text-xephas-white bg-red-600 hover:cursor-pointer"
    >
      Download CV as PDF

      <svg
        clip-rule="evenodd"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        height="24"
        viewBox="0 0 24 24"
        class="fill-current ml-2"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="m6.864 3.424c.502-.301 1.136.063 1.136.642 0 .264-.138.509-.365.644-2.476 1.486-4.135 4.197-4.135 7.292 0 4.691 3.808 8.498 8.498 8.498s8.497-3.807 8.497-8.498c0-3.093-1.656-5.803-4.131-7.289-.225-.136-.364-.38-.364-.644 0-.582.635-.943 1.137-.642 2.91 1.748 4.858 4.936 4.858 8.575 0 5.519-4.479 9.998-9.997 9.998s-9.998-4.479-9.998-9.998c0-3.641 1.951-6.83 4.864-8.578zm.831 8.582s2.025 2.021 3.779 3.774c.147.147.339.22.53.22.192 0 .384-.073.531-.22 1.753-1.752 3.779-3.775 3.779-3.775.145-.145.217-.336.217-.526 0-.192-.074-.384-.221-.531-.292-.293-.766-.294-1.056-.004l-2.5 2.499v-10.693c0-.414-.336-.75-.75-.75s-.75.336-.75.75v10.693l-2.498-2.498c-.289-.289-.762-.286-1.054.006-.147.147-.221.339-.222.531 0 .19.071.38.215.524z"
          fill-rule="nonzero"></path></svg
      >
    </a>
  </div>

  <div class="mt-20 text-lg"></div>
  
  <div class="mt-20 text-lg">
    <p>
      Looking for <strong>My Cover Letter</strong> instead? <InlineLink
        href="/hire-me"
        ,
        text="Here it is."
      />
    </p>
  </div>


</Portfolio>
