---
import Portfolio from "../layouts/Portfolio.astro";
import LinkH2 from "../components/LinkH2.astro";
import LinkH3 from "../components/LinkH3.astro";
import SignOff from "../components/SignOff.astro";
import InlineLink from "../components/InlineLink.astro";
import BackToTop from "../components/BackToTop.astro";
import CodeOnGithub from "../components/CodeOnGithub.astro";
---

<!-- CV Page -->
<Portfolio
  pageTitle="Hire Me"
  pageUrl="/hire-me"
  header="Wanna work with me? Read on."
  pageDescription="Here's how you can hire me for your next project. I'm available for freelance work, contract work, and full-time employment. I'm also open to collaborations and partnerships. Let's talk!"
>
  <article class="rounded-lg border-2 border-xephas-navy p-6 space-y-4">
    <LinkH2 text="My Cover Letter" align="text-center" , id="cover-letter" />
    <p id="#" class="mt-2 font-bold text-xs text-xephas-blue italic text-center">
      Last Updated: 28th May, 2024
    </p>

    <p class="mt-4">Greetings to you,</p>
    <p>
      I am <strong>Mugisa Brian (Cephas)</strong>, a Ugandan Software Engineer
      with over three years of ultimate experience in Cross-Platform App
      Development with Flutter and an astounding passion for Graphics and UI/UX
      Design. My purpose is to design and develop experiences that improve
      people's lives.
    </p>

    <p>
      <strong
        >I am writing to express my strong interest in the Senior Flutter
        Developer position at your company.</strong
      > As a passionate Software Engineer, I am excited about the opportunity to
      contribute to your dynamic team. I am particularly drawn to your mission of
      creating digital products that humanize technology and enhance the day-to-day
      lives of users.
    </p>

    <!-- why me -->
    <LinkH2 text="Why Me?" , id="why-me" />
    <div>
      <!-- flutter expertise -->
      <LinkH3 text="Flutter Expertise" bullet="a)" />
      <p>
        My expertise in <InlineLink
          target="_blank"
          ,
          href="https://flutter.dev/"
          ,
          text="Flutter"
        /> development is best demonstrated through my open-source and personal projects
        below:
      </p>
      <!-- projects -->
      <div class="ml-8 mt-2 space-y-2">
        <li>
          <InlineLink
            target="_blank"
            ,
            href="https://calcut.page.link/visit"
            ,
            text="Calcut | The Cut-Off Points Companion"
          /> (with over 6,500 users)
        </li>
        <li>
          <InlineLink
            target="_blank"
            ,
            href="https://cupertino.page.link/icons"
            ,
            text="Cupertino Icons Gallery"
          /> A home to over 1,330 Cupertino Icons used in Flutter (Open Source with
          16 GitHub Stars) used by over 4,900 Flutter Developers around the World.
        </li>
        <li>
          <InlineLink
            target="_blank"
            ,
            href="https://draaaft.page.link/visit"
            ,
            text="Draaaft"
          />
          (A graphics design portfolio and ordering app) with over 400 users.
        </li>
        <li>
          <InlineLink
            target="_blank"
            ,
            href="https://kalyacourtshotel.web.app/"
            ,
            text="Kalya Courts Hotel Management System"
          />
        </li>
        <li>
          <InlineLink
            target="_blank"
            ,
            href="https://shoplix.web.app/"
            ,
            text="Shoplix | Online Food Shop"
          />
        </li>
        <li>
          <InlineLink
            target="_blank"
            ,
            href="https://fluttercommdashboard.web.app/"
            ,
            text="Flutter Community Dashboard App"
          />| Built during my Participation In Dart Google Summer Of Code (Open
          Source).
        </li>
        <li>
          <InlineLink
            target="_blank"
            ,
            href="https://thumbsapp.page.link/test"
            ,
            text="Thumbs App"
          /> | A video Streaming Platform.
        </li>
        <li>
          STTS Mobile App for Seed Tracing and Tracking, <em
            >developed during my blended internship (Remote + Physical) from
            June to September 2023, at Eight Tech Consults Ltd.</em
          >
        </li>
      </div>

      <!--  -->
      <p class="mt-4">
        These applications reflect my commitment to crafting functional and
        user-friendly Flutter experiences.
      </p>

      <!-- Community -->
      <LinkH3 text="Developer Community Contributions" bullet="b)" />
      <p>
        I am actively involved in the Ugandan Developer (Flutter) Community
        since 2022, contributing as a <strong
          >Speaker and Facilitator (Trainer)</strong
        > in prominent events such as <strong
          >Flutter Forward Kampala 2023</strong
        > and <strong>DroidCon Uganda 2023</strong>. Additionally, I've
        conducted training sessions at events like the
        <strong>Flutter Series Training Bootcamp</strong>, where I mentored over
        100 student developers in 2022 and 2023 at the Google Developer Students
        Club, Makerere University. Moreover, I've participated in online
        sessions, including a <strong
          >Twitter Space hosted by Eight Tech Institute to discuss the Flutter
          developer landscape in Uganda</strong
        >, February 2024, and Speaking at the <strong
          >Flutter Kampala Meetup</strong
        > and <strong>IWD (International Women's Day) Mbarara</strong> in March 2024.
        <InlineLink
          href="/community"
          text="Learn more about my community contributions."
        />
      </p>

      <!-- firebase -->
      <LinkH3 text="Firebase Integration" bullet="c)" />
      <p>
        I possess extensive experience integrating Google's <InlineLink
          target="_blank"
          ,
          href="https://firebase.google.com/"
          ,
          text="Firebase"
        /> services and <InlineLink
          target="_blank"
          ,
          href="https://cloud.google.com/"
          ,
          text="Google Cloud"
        /> functionalities. This is best demonstrated by the secure user authentication
        and seamless data management across all applications in my <InlineLink
          target="_blank"
          ,
          href="#flutter-expertise"
          ,
          text="portfolio."
        />
      </p>

      <!-- coding style -->
      <LinkH3 text="Clean Coding Style" bullet="d)" />
      <p>
        My Flutter coding style emphasizes clean, reusable, and efficient code.
        I have created a <InlineLink
          target="_blank"
          ,
          href="https://github.com/capps096github/xephas_app"
          ,
          text="Flutter App Code Generator"
        /> that serves as the foundation for setting up <strong
          >New Flutter applications.</strong
        > This tool further showcases my dedication to maintaining high coding standards
        and streamlining the development process.
      </p>

      <!-- state management -->
      <LinkH3 text="State Management Expertise" bullet="e)" />
      <p>
        In Flutter development, I leverage advanced state management techniques
        using <InlineLink
          target="_blank"
          ,
          href="https://pub.dev/packages/flutter_riverpod"
          ,
          text="Riverpod"
        /> and <InlineLink
          target="_blank"
          ,
          href="https://pub.dev/packages/provider"
          ,
          text="Provider"
        />
        to create scalable, efficient, and maintainable applications. My commitment
        to this efficient state management architecture is best reflected in projects
        like <InlineLink
          target="_blank"
          ,
          href="https://calcut.page.link/visit"
          ,
          text="Calcut"
        />
        where robust state management plays a crucial role in delivering seamless
        user experiences.
      </p>
      <!-- remote work -->
      <LinkH3 text="Remote Work Experience" bullet="f)" />
      <p>
        As a Remote Software Engineer, I am adept at managing projects
        independently while staying connected with my team. Despite the
        geographical distance, I prioritize clear communication and
        collaborative teamwork, ensuring that project objectives are met
        effectively.
      </p>

      <!-- beyond flutter -->
      <LinkH3
        text="Expanding Expertise Beyond Flutter: Diverse Projects Showcase"
        bullet="g)"
      />
      <p>
        In addition to my extensive expertise in <InlineLink
          target="_blank"
          ,
          href="https://flutter.dev/"
          ,
          text="Flutter"
        /> development, I have ventured into various technologies and frameworks,
        to create a diverse range of projects. <strong
          >My proficiency extends to Java, Python, Tailwind CSS, Astro,
          JavaScript, Django, PHP, C among others.</strong
        > These ventures demonstrate my versatility, adaptability across different
        platforms and commitment to delivering innovative solutions. Here are some
        notable projects that highlight my skills beyond Flutter:
      </p>
      <!--other projects -->
      <div class="ml-8 mt-2 space-y-2">
        <li>
          <InlineLink
            target="_blank"
            ,
            href="https://xephas.me/"
            ,
            text="My Portfolio (This one your on):"
          /> Developed using <InlineLink
            target="_blank"
            ,
            href="https://astro.build/"
            ,
            text="Astro"
          />and <InlineLink
            target="_blank"
            ,
            href="https://tailwindcss.com/"
            ,
            text="Tailwind CSS."
          />It showcases my skills and experiences in a visually appealing and
          user-friendly manner.
        </li>
        <!-- kalya -->
        <li>
          <InlineLink
            target="_blank"
            ,
            href="https://kalyacourtsmenu.web.app/"
            ,
            text="Kalya Courts Hotel Menu:"
          /> Leveraging <InlineLink
            target="_blank"
            ,
            href="https://tailwindcss.com/"
            ,
            text="Tailwind CSS"
          />, I created a sleek and intuitive menu interface for Kalya Courts
          Hotel, Maguru-Itara Road, Fort-Portal, Uganda.
        </li>

        <!--  -->
        <li>
          <InlineLink
            target="_blank"
            href="https://github.com/capps096github/cake_me"
            ,
            text="CakeMe Website:"
          />I collaborated on using <InlineLink
            target="_blank"
            ,
            href="https://www.djangoproject.com/"
            ,
            text="Django"
          /> and <InlineLink
            target="_blank"
            ,
            href="https://tailwindcss.com/"
            ,
            text="Tailwind CSS"
          />, to design and develop a dynamic website for a cake shop, enabling
          seamless online ordering and browsing.
        </li>
        <!--  -->
        <li>
          <InlineLink
            target="_blank"
            href="https://github.com/capps096github/nois_results_complaint_management_system"
            ,
            text="Nois Result Complaint System"
          /> This project involved the creation of a robust complaint management
          system using cutting-edge technologies <strong
            >(PHP and Tailwind CSS)</strong
          > to streamline the resolution process for educational institutions.
        </li>

        <!--  -->
        <li>
          <InlineLink
            target="_blank"
            href="https://github.com/capps096github/kindercare"
            ,
            text="KinderCare School System"
          /> Leveraging PHP, C, and Tailwind CSS, I contributed to the development
          of a comprehensive school management system, facilitating efficient administration
          and communication within a given educational institution.
        </li>
      </div>
      <p class="mt-4">
        These projects exemplify my dedication to innovation and my ability to
        adapt to diverse technological landscapes.
      </p>

      <!-- open source -->
      <LinkH3 text="Open Source Contributions" , bullet="h)" />

      <p>
        As a dedicated developer, I actively contribute to the open-source
        community, fostering collaboration and innovation. My contributions span
        various projects, starting with Flutter and extending to other
        technologies:
      </p>

      <p class="mt-4"><strong>Flutter Open-Source Projects:</strong></p>
      <div class="ml-8 mt-2 space-y-2">
        <li>
          Cupertino Icons Gallery
          <CodeOnGithub repo="cupertino_icons_gallery" />
        </li>

        <!--  -->
        <li>
          Shoplix - Online Food Shop:
          <CodeOnGithub repo="shoplix" />
        </li>
        <li>
          Flutter Community Dashboard App:
          <CodeOnGithub repo="flutter_community_dashboard" />
        </li>
        <li>
          DroidCon Forms App:
          <CodeOnGithub repo="droidcon_forms" />

          Developed during DroidCon Uganda 2023 following my talk on Simple
          State Management in Flutter Apps using Riverpod.
        </li>
      </div>

      <!-- others -->
      <p class="mt-4"><strong>Other Open-Source Projects:</strong></p>
      <div class="ml-8 mt-2 space-y-2">
        <li>
          This Portfolio
          <CodeOnGithub repo="xephas_portfolio" />
        </li>
        <li>
          CakeMe Website for a Cake Shop (Django, Tailwind)
          <CodeOnGithub repo="cake_me" />
        </li>
        <li>
          Nois Result Complaint System (JavaScript, Tailwind CSS)
          <CodeOnGithub repo="nois_results_complaint_management_system" />
        </li>
        <li>
          KinderCare School System (PHP, C, Tailwind):

          <CodeOnGithub repo="kindercare" />
        </li>
      </div>

      <!--  -->
      <p class="mt-4">
        These contributions reflect my commitment to advancing technology and
        fostering community-driven innovation.
      </p>

      <!-- ux projects -->
      <LinkH2
        text="UI/UX Design Projects (In Figma)"
        ,
        id="ux-design-projects"
      />
      <p>
        In addition to my expertise in Cross-Platform App Development with
        Flutter, I am deeply immersed in the realm of UI/UX design. Here are
        some of my standout projects created using Figma, showcasing my
        commitment to crafting visually appealing, user-centric interfaces:
      </p>
      <div class="ml-8 mt-2 space-y-2">
        <li>
          <InlineLink
            target="_blank"
            href="https://www.figma.com/file/p1PsTwseY0P8zew4cW9M5U/Olum-Version-1-(Final)?type=design&node-id=0%3A1&mode=design&t=dHDjIEQ6pk61xXMG-1"
            ,
            text=" Olum App"
          /> (Mobile App)
        </li>
        <li>
          <InlineLink
            target="_blank"
            href="https://www.figma.com/file/PkrFTMQHWdE7oHONSGRS9i/EAC_HCPI?type=design&node-id=0%3A1&mode=design&t=mKyWeqnDo71Clx8O-1"
            ,
            text="EAC_HCPI App"
          /> (Mobile App)
        </li>
        <li>
          <InlineLink
            target="_blank"
            href="https://www.figma.com/file/KjRHMTjszC7qndny0i2S8e/STTS-Sahel-Mobile-App-UX-Design?type=design&node-id=0%3A1&mode=design&t=vFoTh9mNR9dwOQ78-1"
            ,
            text="STTS Sahel Mobile App"
          /> (Mobile App)
        </li>
        <li>
          <InlineLink
            target="_blank"
            href="https://www.figma.com/design/W2TVKvgk4OOc58zd5VsB0h/ICT4Farmers-App?node-id=0-1&t=LXNLibwCL5wJDh8a-1"
            ,
            text="ICT4Farmers Mobile App"
          /> (Mobile App)
        </li>
        <li>
          <InlineLink
            target="_blank"
            href="https://www.figma.com/file/zAMNGqIcTmOo2xq3tJjSu6/ORACLE-CODELAB-DESKTOP-AND-MOBILE-UI?type=design&node-id=0%3A1&mode=design&t=qT96BEOF0XCdZSZQ-1"
            ,
            text=" Oracle Codelabs redesign"
          /> (Mobile and Web)
        </li>
        <li>
          <InlineLink
            target="_blank"
            href="https://www.figma.com/file/eQoWrGAOyD9HtwXMq4NxAy/UTB-Project?type=design&node-id=0%3A1&mode=design&t=pkwXF2WjwODHJH0v-1"
            ,
            text="UTB Web Dashboard"
          /> (Web)
        </li>
        <li>
          <InlineLink
            target="_blank"
            href="https://www.figma.com/file/SxBDT2vUWOI4TWIHmYfBQI/KinderCare-Web?type=design&node-id=0%3A1&mode=design&t=lOie3vaK2qezQVnL-1"
            ,
            text="Kindercare Website"
          /> (Web)
        </li>
      </div>

      <!-- How I add value -->
      <LinkH2 text="How I Add Value" , id="how-i-add-value" />
      <div class="ml-8 mt-2 space-y-2">
        <li>
          <strong>Architecture and Design:</strong> I specialize in defining frontend
          architectures, focusing on clean code, testability, and efficiency. My
          proficiency in OOP, TDD, Dependency Injection, and Clean Architecture ensures
          the scalability and maintainability of the applications I develop.
        </li>
        <li>
          <strong>User-Centric Focus:</strong> My strong understanding of UI/UX principles,
          exemplified through all my projects, underscores my ability to create visually
          appealing and user-friendly interfaces. I am deeply committed to immersing
          myself in our customers&#39; world to create solutions that resonate with
          their needs.
        </li>
      </div>

      <!-- conclusion -->
      <LinkH2 text="Conclusion" , id="conclusion" />
      <div class="space-y-4">
        <p>
          In conclusion, I am excited about the prospect of contributing to your
          innovative projects and helping your team achieve its goals.
        </p>
        <p>
          Thank you for considering my application. I am <InlineLink
            target="_blank"
            ,
            href="/contact"
            ,
            text="available"
          /> for an interview at your earliest convenience to discuss how my skills
          and experiences align with your team’s needs in greater detail.
        </p>
      </div>

      <SignOff />

      <!-- Back to Top -->
      <BackToTop />
    </div>
  </article>
</Portfolio>
