---
import Portfolio from "../layouts/Portfolio.astro";
---

<!-- Projects -->
<Portfolio
  pageTitle="Projects"
  pageUrl="/projects"
  header="The Xephas Projects"
  pageDescription="This is what I've been working on."
>
  <p>Coming Soon | Say hello@xephas.me</p>
</Portfolio>
