---
import Portfolio from "../layouts/Portfolio.astro";
---

<!-- Talks & Events -->
<Portfolio
  pageTitle="Talks & Events"
  pageUrl="/talks-events"
  header="Sample Talks & Events"
  pageDescription="Various talks and events I have been a part of."
>
  
<div class="flex items-center justify-center mb-8 mt-12 ">
  <img src="images/talks.jpg" alt="Xephas " class="w-32 h-32 rounded-full object-cover" />
</div>

<div class="grid grid-cols-1  md:grid-cols-2 gap-4">
  <div class="px-2 max-w-sm rounded-lg overflow-hidden shadow-md bg-white">
    <div class=" py-2">
      <h2 class="text-2xl font-bold text-gray-900 mb-2">Simplified State Management for Forms in Flutter Apps with Riverpod</h2>
      <p class="text-gray-700 text-base">
        Hello, DroidCon Uganda Event organizers, I'm excited to present a session titled "Simplified State Management for Forms in Flutter Apps with Riverpod" at your event. In this talk, I'll be diving into a topic that's essential for Flutter developers: how to handle form data seamlessly using the powerful state management package, Riverpod.
      </p>
    </div>
    <div class="px-2 py-4 flex items-center">
      <a href="https://sessionize.com/s/xephas-official/simplified-state-management-for-forms-in-flutter-a/77209" class="inline-flex items-center px-4 py-2 bg-blue-500 text-white font-bold rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-200">
        See full talk &raquo;
      </a>
    </div>
</div>

    <div class="px-2 max-w-sm rounded-lg overflow-hidden shadow-md bg-white">
      <div class=" py-4">
        <h2 class="text-2xl font-bold text-gray-900 mb-2">Building Cross-Platform Apps with Flutter: A Hands-On Experience ..</h2>
        <p class="text-gray-700 text-base">
          In this talk, I will share my experience building cross-platform apps using Flutter. I will take the attendees through the process of developing real-world apps, using some of the apps I have built before including Calcut with over 4,000 users, Cupertino Icons Gallery (Open Source) with over 1,400 users and 10 Github Stars, Shoplix, Kalya Courts app ....
        </p>
      </div>
      <div class="px-2 py-4 flex items-center">
       

        <a href="https://sessionize.com/s/xephas-official/building-cross-platform-apps-with-flutter-a-hands-/77198" class="inline-flex items-center px-4 py-2 bg-blue-500 text-white font-bold rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-200">
          See full talk &raquo;
        </a>
      </div>
    </div>

    
  </div>
  
  <h1 class="mb-2 text-4xl font-extrabold text-xephas-navy text-center">
    Sample Trainings
  </h1>
 
  
    <di class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="p-4 rounded-lg border border-gray-200 shadow-md overflow-hidden">
        <img src="images/14.png" alt="Step-by-Step Flutter Installation Guide" class="w-full h-48 object-cover" />
    
        <h3 class="mt-2 text-lg font-bold text-gray-900">Step-by-Step Flutter Installation Guide</h3>
    

        <a href="https://www.youtube.com/watch?v=FwoXqWdT1yE" class="inline-flex items-center px-4 py-2 bg-blue-500 text-white font-bold rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-200">
          Click to watch
        </a>

      </div>


    
    

    <div class="p-4 rounded-lg border border-gray-200 shadow-md overflow-hidden">
      <img src="images/12.png" alt="Step-by-Step Flutter Installation Guide" class="w-full h-48 object-cover" />
    
    <h3 class="mt-2 text-lg font-bold text-gray-900">A Beautiful Login Screen with Flutter</h3>

    <a href="https://www.youtube.com/watch?v=CUyxhzVr7No" class="inline-flex items-center px-4 py-2 bg-blue-500 text-white font-bold rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-200">
      Click to watch
    </a>

  </div>

  <div class="p-4 rounded-lg border border-gray-200 shadow-md overflow-hidden">
     
    <img src="images/13.png" alt="Step-by-Step Flutter Installation Guide" class="w-full h-48 object-cover" />
  
  <h3 class="mt-2 text-lg font-bold text-gray-900">Profile App UI from the Flutter Series</h3>
  <a href="https://www.youtube.com/watch?v=FwoXqWdT1yE" class="inline-flex items-center px-4 py-2 bg-blue-500 text-white font-bold rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-200">
    Click to watch
  </a>
</div>
      
 </div>

 <div class=" mt-5">
  <a href="https://www.youtube.com/@flutter_era/videos" class="inline-flex items-center px-4 py-2 bg-blue-500 text-white font-bold rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-200">
    More Trainings
  </a>
</div>

  

</Portfolio>
