---
import Portfolio from "../layouts/Portfolio.astro";

---

<!-- Contact -->
<Portfolio
  pageTitle="Contact me!"
  pageUrl="/tech-stack"
  header="My Tech Stack"
  pageDescription="Ping me if you want to work together or just say hi!"
>

<div class="container mx-auto py-7">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="p-4 rounded-lg border border-gray-200 shadow-md text-center hover:shadow-lg">
        <img src="icons/flutter.svg" alt="Flutter icon" class="w-16 mx-auto mb-4">
        <h3 class="text-lg font-bold text-gray-900">Flutter</h3>
        <p class="text-gray-700 text-base">Cross-platform app development</p>
      </div>
      <div class="p-4 rounded-lg border border-gray-200 shadow-md text-center hover:shadow-lg">
        <img src="icons/logo-firebase.svg" alt="Firebase icon" class="w-16 mx-auto mb-4">
        <h3 class="text-lg font-bold text-gray-900">Firebase</h3>
        <p class="text-gray-700 text-base">Backend infrastructure and services</p>
      </div>
      <div class="p-4 rounded-lg border border-gray-200 shadow-md text-center hover:shadow-lg">
        <img src="icons/astro.svg" alt="Astro icon" class="w-16 mx-auto mb-4">
        <h3 class="text-lg font-bold text-gray-900">Astro</h3>
        <p class="text-gray-700 text-base">Ultra-fast static site generation</p>
      </div>
      <div class="p-4 rounded-lg border border-gray-200 shadow-md text-center hover:shadow-lg">
        <img src="icons/tailwind-css.svg" alt="Tailwind CSS icon" class="w-16 mx-auto mb-4">
        <h3 class="text-lg font-bold text-gray-900">Tailwind CSS</h3>
        <p class="text-gray-700 text-base">Utility-first CSS framework</p>
      </div>
      <div class="p-4 rounded-lg border border-gray-200 shadow-md text-center hover:shadow-lg">
        <img src="icons/logo-figma.svg" alt="Figma icon" class="w-16 mx-auto mb-4">
        <h3 class="text-lg font-bold text-gray-900">Figma</h3>
        <p class="text-gray-700 text-base">UI/UX design and prototyping</p>
      </div>
    </div>
  </div>
  

  
</Main>
</Layout>