<p class="mt-20">
  <a
    class="px-4 py-2 text-sm font-bold text-center uppercase hover:underline rounded-full text-xephas-white bg-xephas-navy hover:cursor-pointer"
    href="#">Back to Top</a
  >
</p>
