---
interface Props {
  href: string;
  text: string;
  target?: string ;
}

const { href, text, target ="_self" } = Astro.props;
---

<a
  class="hover:underline transition-all text-base text-left mt-3 mb-3 mr-1 hover:font-bold hover:cursor-pointer text-blue-600"
  href={href}
  target={target}
  rel="noopener noreferrer"
>
  {text}
</a>
