<!-- install card -->
<!-- hidden -->
<div
  id="install-card"
  class="p-6 text-white transition-colors duration-300 bg-blue-900 mt-12 rounded-lg group hover:bg-xephas-hover hover:text-kalya-light"
>
  <div class="flex flex-col items-center justify-center">
    <div class="pb-6 mb-6 border-b-2 border-current">
      <h2 class="mb-2 text-xl font-bold text-left">
        Say no more to scanning, and say yes to instant access!
      </h2>
      <p>
        Install this  Portifoil on your Device and Enjoy a seamless dining
        experience with quick offline access, faster updates and exclusive
        offers.
      </p>

      <p class="font-bold">
        No more scanning - Just tap and explore right from your home screen.
      </p>
    </div>
    <button
      id="install"
      class="w-full px-5 py-2 font-semibold text-blue-700 uppercase transition-colors duration-300 bg-white rounded-full text-md hover:text-kalya-brown group-hover:text-kalya-brown hover:bg-kalya-light group-hover:bg-kalya-light hover:cursor-pointer"
    >
      <div class="inline-flex items-center text-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          enable-background="new 0 0 24 24"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          class="mr-4 fill-current"
        >
          <g>
            <rect fill="none" height="24" width="24"></rect>
          </g>
          <g>
            <path
              d="M12,2C6.49,2,2,6.49,2,12s4.49,10,10,10s10-4.49,10-10S17.51,2,12,2z M11,10V6h2v4h3l-4,4l-4-4H11z M17,17H7v-2h10V17z"
            ></path>
          </g>
        </svg>

        <span> Install  Now</span>
      </div>
    </button>
  </div>
</div>
