<a
  href="#get-app"
  class="inline-flex items-center justify-center transition-all rounded-full text-white bg-app-navy hover:bg-navy hover:cursor-pointer"
>
  <!-- Icon for mobile (visible only on small screens) -->
  <span class="flex md:hidden p-3">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="w-5 h-5"
    >
      <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
      <polyline points="7 10 12 15 17 10"></polyline>
      <line x1="12" y1="15" x2="12" y2="3"></line>
    </svg>
  </span>

  <!-- Full button text (hidden on small screens, visible on md and up) -->
  <span
    class="hidden md:inline-flex items-center px-8 py-3.5 text-xs font-bold uppercase"
  >
    Let's Talk, <span class="text-white/50 ml-1"> Now</span>
  </span>
</a>
