---
// Props (parameters) type declaration
interface Props {
  text: string;
  id?: string;
  bullet?: string;
}


const { id, text, bullet="" } = Astro.props;

// id can be null, so we need to check for that, and if it is null we covert the text to a slug
const uniqueID = id || text.toLowerCase().replace(/\s/g, "-"); 

// bullet
const hBullet = bullet ? bullet + " " : "";

const href = `#${uniqueID}`;
---

<!-- link,h3 -->
<h3
  class="text-xl transition-all text-left mt-6 mb-3 font-extrabold text-xephas-navy"
  id={uniqueID}
>
  <a class="group hover:cursor-pointer" href={href}>
    <span class="group-hover:underline">{hBullet + text}</span>

    <span class="ml-2 opacity-0 group-hover:underline group-hover:opacity-100"
      >#</span
    >
  </a>
</h3>
