---
import Signature from "./Signature.astro";

---

 <div class="flex flex-col justify-end items-end space-y-2 mt-8">
        <p>Yours Sincerely,</p>
        <p class="uppercase font-bold text-xephas-blue">Mugisa Brian (Cephas)</p>
        <p class="uppercase text-xs font-bold">A designer and developer of experiences</p>
        <p>Mugisa Brian (Cephas)</p>
        <Signature />
      </div>