---
interface Props {
  handle: string;
  href: string;
  colors: string;
}

const { href, handle, colors } = Astro.props;
---

<article
  class=`transition-all duration-300 border-2 hover:cursor-pointer rounded-lg group ${colors}`
>
  <a target="_blank" href={href} rel="noopener noreferrer">
    <div class="flex flex-col">
      <div class="flex m-4 items-center justify-center">
        <!-- use slot, to insert svg icon-->
        <slot />
      </div>
      <p
        class="m-4 text-sm group-hover:underline truncate font-bold text-center"
      >
        {handle}
      </p>
    </div>
  </a>
</article>
