
   <!-- Tech Stack Logos -->
   <div class="mt-16 pt-12 border-t border-slate-200">
    <div class="text-center mb-8">
      <h3 class="text-lg font-medium text-gray-600">Tech Stack & Tools</h3>
    </div>

    <div
      class="flex flex-wrap justify-center gap-8 opacity-70 hover:opacity-100 transition-opacity duration-300"
    >
      <!-- Flutter -->
      <div
        class="w-12 h-12 flex items-center justify-center bg-slate-100 rounded-full p-2"
      >
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="w-8 h-8"
        >
          <path
            d="M14.314 0L2.3 12 6 15.7 21.684.013h-7.357zm.014 11.072L7.857 17.53l6.47 6.47H21.7l-6.46-6.468 6.46-6.46h-7.37z"
            fill="#47C5FB"></path>
          <path
            d="M14.328 24L7.857 17.53 6 15.7l-3.699 3.7L14.328 24z"
            fill="#00569E"></path>
          <path
            d="M7.857 17.53L14.314 11.07h7.37l-6.46 6.46 6.46 6.47h-7.357l-6.47-6.47z"
            fill="#00B5F8"></path>
        </svg>
      </div>

      <!-- Firebase -->
      <div
        class="w-12 h-12 flex items-center justify-center bg-slate-100 rounded-full p-2"
      >
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="w-8 h-8"
        >
          <path
            d="M3.89 15.673L6.255.461A.542.542 0 017.27.289l2.543 4.771zm16.485 3.172l-2.23-13.786a.547.547 0 00-.926-.294L3.412 18.664l7.856 4.427a1.621 1.621 0 001.588 0zM14.3 7.148l-1.82-3.482a.542.542 0 00-.96 0L3.53 17.984z"
            fill="#FFCA28"></path>
        </svg>
      </div>

      <!-- TypeScript -->
      <div
        class="w-12 h-12 flex items-center justify-center bg-slate-100 rounded-full p-2"
      >
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="w-8 h-8"
        >
          <path
            d="M0 12v12h24V0H0v12zm19.341-6.468c.61.353 1.478.962 1.478 1.673 0 .039-.033.136-.074.211-.14.243-.743.475-1.173.444-.28-.02-.369-.062-.775-.366-.24-.178-.602-.388-.804-.464-.69-.261-1.523-.188-2.161.19-.649.385-.975.963-.975 1.718 0 .392.095.629.361.9.388.392.843.581 2.392.999 1.877.506 2.715.888 3.36 1.534.78.78 1.05 1.475 1.05 2.712 0 1.223-.31 2.169-1.02 3.08-.727.934-1.798 1.545-3.137 1.788-.636.115-2.14.108-2.774-.014-1.296-.25-2.518-.94-3.324-1.879l-.298-.347.526-.753c.498-.714.528-.743.728-.684.116.035.23.099.254.141.163.284 1.035.95 1.496 1.142.761.314 1.652.39 2.34.2 1.242-.343 2.002-1.493 1.777-2.692-.129-.695-.571-1.155-1.438-1.492-.254-.1-1.113-.34-1.907-.534-1.699-.418-2.301-.685-3.01-1.331a3.38 3.38 0 01-.936-1.684c-.138-.626-.123-1.847.028-2.414.381-1.428 1.56-2.545 3.09-2.927.697-.173 2.412-.142 3.126.056zm-7.334 1.972v.95h-3.007v8.914H7v-8.915h-3v-.98c0-.54.012-.981.027-.981.014 0 1.616-.014 3.56-.028l3.533-.028v1.067z"
            fill="#3178C6"></path>
        </svg>
      </div>

      <!-- Astro -->
      <div
        class="w-12 h-12 flex items-center justify-center bg-slate-100 rounded-full p-2"
      >
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="w-8 h-8"
        >
          <path
            d="M16.074 16.86c-.72.616-2.157 1.035-3.812 1.035-2.032 0-3.735-.632-4.187-1.483-.161.488-.198 1.046-.198 1.402 0 0-.106 1.75 1.111 2.968 0-.632.513-1.145 1.145-1.145 1.083 0 1.082.95 1.081 1.723v.077c0 1.164.711 2.161 1.723 2.549-.077-.79.103-2.317 1.71-2.317 1.252 0 1.145 1.207 1.145 1.207v.077a2.579 2.579 0 003.15-2.497c0-.745-.326-1.409-.832-1.861-1.353.132-1.746-1.459-1.746-1.459l-.29-.745z"
            fill="#FF5D01"></path>
          <path
            d="M7.466 16.01c.283-.514.69-.87 1.283-.95L9.69 14l.548-1.931s-1.663-.154-1.663-2.03c0-1.875 1.272-3.697 3.127-3.697 1.533 0 2.438 1.017 2.438 2.544 0 1.432-.891 2.575-2.104 3.286L12.364 14l.826.181c.304.065.584.193.826.386.348.271.585.646.693 1.06.076-.762.099-1.538.068-2.309l.024-6.707c0-.929.099-1a2.12 2.12 0 10-4.24 0l.023 6.915c-.33.915-.123 1.76-.266 2.51a7.94 7.94 0 01-.332 1.14c-.298.748-.735 1.372-1.486 1.534a1.458 1.458 0 01-1.215-.239c.316-.626.851-1.227.846-2.029 0-.193-.024-.363-.059-.532z"
            fill="#FF5D01"></path>
        </svg>
      </div>

      <!-- Tailwind CSS -->
      <div
        class="w-12 h-12 flex items-center justify-center bg-slate-100 rounded-full p-2"
      >
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="w-8 h-8"
        >
          <path
            d="M12.001 4.8c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624C13.666 10.618 15.027 12 18.001 12c3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C16.337 6.182 14.976 4.8 12.001 4.8zm-6 7.2c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624 1.177 1.194 2.538 2.576 5.512 2.576 3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C10.337 13.382 8.976 12 6.001 12z"
            fill="#06B6D4"></path>
        </svg>
      </div>
    </div>
  </div>