---
import Head from "../components/Head.astro";
import NavAppBar from "../components/NavAppBar.astro";
import { coverImage, description, codeName, title } from "../scripts/constants";

interface Props {
  pageTitle?: string;
  pageUrl?: string;
  header?: string;
  pageDescription?: string;
  pageCoverImage?: string;
  showHeader?: boolean;
}

// variables
// Access passed-in component props, like `<X title="Hello, World" />`
const {
  pageTitle = title,
  header: headingText = title,
  pageUrl = "/",
  pageDescription = description,
  showHeader = true,
  pageCoverImage = coverImage,
} = Astro.props;

// if we are not on home page, add the code name to the page title
const isHome = pageUrl === "/";
const newPageTitle = isHome ? pageTitle : pageTitle + " | " + codeName;
---

<!doctype html>
<html lang="en">
  <Head
    pageTitle={newPageTitle}
    pageCoverImage={pageCoverImage}
    pageDescription={pageDescription}
  />
  <body class="font-mont bg-app-bg text-black">
    <!-- nav bar -->
    <NavAppBar pageUrl={pageUrl}/>

    <!-- App Scripts -->
    <!-- use slot, to insert page contents here-->
    <slot />

    <!-- Firebase Scripts -->
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyBqLGG656obraE1lKkTIOrJH6EQzLrDZyM",
        authDomain: "xephasme.firebaseapp.com",
        projectId: "xephasme",
        storageBucket: "xephasme.appspot.com",
        messagingSenderId: "319248268150",
        appId: "1:319248268150:web:6dccd45af1f8d396eed857",
        measurementId: "G-R5G40ZN9CM",
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>


  <!-- this is added on every page for the nav bar to act accordingly -->
  <!-- <script type="module" >
    import "../src/scripts/navbar.js";
  </script> -->
  <script type="module" is:inline data-astro-rerun>
    import "../src/scripts/navbar.js";
  </script>

<!-- <script type="module">
  import { setupNavbar } from "../src/scripts/navbar.js";
  setupNavbar();
</script> -->
    <!-- Install PWA Script -->
  </body>
</html>
